@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-12">
        <h2>About</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>Date and time info will go here when we have it</p>
    </div>
</div>