@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-12">
        <p>gotta put something here</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Looking for pictures?</h3>
        <p>Once we get them, we will put them <a href="@Url.Action("Pictures","Home")">here</a> for you.</p>
    </div>
    <div class="col-md-4">
        <h3>Have your RSVP code?</h3>
        <p>Go <a href="@Url.Action("RSVP","Home")">here</a> and RSVP now!</p>
    </div>
    <div class="col-md-4">
        <h3>Column 3</h3>
    </div>
</div>