
@{
    ViewBag.Title = "RSVP";
}

<div class="row">
    <div class="col-lg-12">
        <h2>RSVP</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>Text box with to enter the reservation code, which will load the RSVP and allow editing</p>
    </div>
</div>